name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: roc version
          version: nightly
        env:
          GITHUB_API_TOKEN: ${{ github.token }}

  readme_test:
    name: readme test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install rundoc
        run: pip install rundoc

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v4

      - name: Add plugin from local checkout
        run: asdf plugin add roc ./

      - name: Run README
        run: rundoc run README.md -t "bash#ci" --single-session bash
        env:
          GITHUB_API_TOKEN: ${{ github.token }}
